<svg timeline class="timeline" height="200" width="100vw">
    <line *timelineTicks="'years'; from: 2000; to: 2005; minZoom: 0; maxZoom: 25; let index = index" [attr.x1]="index * 30" y1="0" [attr.x2]="index * 30" y2="100%" stroke-width="1" stroke="black"></line>
    <line *timelineTicks="'months'; from: 1; to: 12; minZoom: 10; maxZoom: 35; let index = index" [attr.x1]="index * 30" y1="10%" [attr.x2]="index * 30" y2="90%" stroke-width="3" stroke="green"></line>
    <line *timelineTicks="'days'; from: 1; to: 30; minZoom: 20; maxZoom: 45; let index = index" [attr.x1]="index * 30" y1="20%" [attr.x2]="index * 30" y2="80%" stroke-width="3" stroke="blue"></line>
    <line *timelineTicks="'hours'; from: 0; to: 23; minZoom: 30; maxZoom: 55; let index = index" [attr.x1]="index * 30" y1="30%" [attr.x2]="index * 30" y2="70%" stroke-width="3" stroke="red"></line>
    <line *timelineTicks="'minutes'; from: 0; to: 59; minZoom: 50; maxZoom: 80; let index = index" [attr.x1]="index * 30" y1="40%" [attr.x2]="index * 30" y2="60%" stroke-width="3" stroke="gray"></line>
</svg>
