<svg bsTimeline class="timeline" height="50vh" width="100vw" [zoom]="50" #timeline="timeline" (mousemove)="ddd($event)">
    <g *bsTimelineTick="'year'; minZoom: -100; maxZoom: 160; label: label.years; dayFactor: dayFactors.daysInYear; datesBetween: datesBetween.years; let screenPosition = screenPosition; let label = label">
        <line [attr.x1]="screenPosition | async" y1="0"
              [attr.x2]="screenPosition | async" y2="800"
              stroke-width="5" stroke="black"></line>

        <text [attr.x]="screenPosition | async" y="400" dx="20" font-size="20">{{label | async}}</text>
    </g>

    <g *bsTimelineTick="'month'; minZoom: -20; maxZoom: 100; label: label.months; dayFactor: dayFactors.daysInMonth; datesBetween: datesBetween.months; let screenPosition = screenPosition; let label = label">
        <line [attr.x1]="screenPosition | async" y1="50"
              [attr.x2]="screenPosition | async" y2="750"
              stroke-width="4" stroke="green"></line>

        <text [attr.x]="screenPosition | async" y="300" dx="5" font-size="20">{{label | async}}</text>
    </g>

    <g *bsTimelineTick="'day'; minZoom: 45; maxZoom: 150; label: label.days; dayFactor: 1; datesBetween: datesBetween.days; let screenPosition = screenPosition; let label = label">
        <line [attr.x1]="screenPosition | async" y1="100"
              [attr.x2]="screenPosition | async" y2="700"
              stroke-width="3" stroke="blue"></line>

        <text [attr.x]="screenPosition | async" y="280" dx="5" font-size="20">{{label | async}}</text>
    </g>

    <g *bsTimelineTick="'hour'; minZoom: 100; maxZoom: 800; label: label.hours; dayFactor: dayFactors.hoursInDay; datesBetween: datesBetween.hours; let screenPosition = screenPosition; let label = label">
        <line [attr.x1]="screenPosition | async" y1="130"
              [attr.x2]="screenPosition | async" y2="700"
              stroke-width="3" stroke="red"></line>

        <text [attr.x]="screenPosition | async" y="250" dx="5" font-size="20">{{label | async}}</text>
    </g>

    <g *bsTimelineTick="'minute'; minZoom: 145; maxZoom: 800; label: label.minutes; dayFactor: dayFactors.minutesInDay; datesBetween: datesBetween.minutes; let screenPosition = screenPosition; let label = label">
        <line [attr.x1]="screenPosition | async" y1="160"
              [attr.x2]="screenPosition | async" y2="700"
              stroke-width="3" stroke="yellow"></line>

        <text [attr.x]="screenPosition | async" y="220" dx="5" font-size="20">{{label | async}}</text>
    </g>

    <g>
        <line [attr.x1]="timeline.state.viewBounds.value.screenCenterX" y1="0"
              [attr.x2]="timeline.state.viewBounds.value.screenCenterX" y2="700"
              stroke-width="3" stroke="purple"></line>

        <text [attr.x]="timeline.state.viewBounds.value.screenCenterX" y="20" dx="5" font-size="20">{{timeline.currentDate | async}}</text>
    </g>
</svg>

<div style="text-align: center;">
    Zoom      : {{ timeline.state.zoom.value }}<br/>
    ViewCenter: {{ timeline.state.viewCenter.value }}<br/>
    Mouse     : {{x}}, {{y}}
</div>
